.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  height: 770px;
  position: relative;
}

h1 {
  color: #525454;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-align: center;
  width: 90%;
}

#map {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  z-index: 10;
  width: 400px;
  position: absolute;
  -webkit-transform: translate(-385px, 0);
  transform: translate(-385px, 0);
}

.options-box.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.header_menu {
  display: inline-block;
  position: fixed;
  left: 370px;
  top: 0;
  padding: 1em;
  width: 10%;
}
a#menu svg {
  width: 20px;
  fill: #525454;
}

#show-listings, #hide-listings {
  width: 48%;
}
